@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
  margin-left: 20%;
  margin-right: 20%;
  page-break-before: always;
}

@font-face {
  font-family: AvenirLTStd45Book;
  src: url("../fonts/AvenirLTStd45Book.otf");
}

html,
body {
  display: block;
  font-size: 1em;
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: "AvenirLTStd45Book";
  position: relative !important;
}

@media print {
  .page {
    height: auto;
    border-bottom: 0;
  }
}

.title--blue {
  color: #4a91c5;
}

.title--brown {
  color: #7e432d;
}

.title--brown--gradient {
  border-top: rgb(218, 81, 56) 1px solid;
  background: rgb(107, 166, 205);
  background: linear-gradient(180deg,
      rgba(107, 166, 205, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  color: rgb(126, 67, 45);
}

.page {
  min-height: 100vh;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.pointer {
  cursor: pointer;
}

.cover-background--blue {
  /*background-color: #acd5e8;*/
  background-color: rgb(214,234,243);
  border-radius: 10px;
}

.background--blue {
  border-radius: 10px;
  background-color: rgb(222, 227, 220);

}

.background--yellow {
  background-color: rgb(254, 247, 212);
}

.background--salmon {
  background-color: rgb(248, 214, 199);
  border-radius: 5px;
  
}

.center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.box {
  margin: 0 160px;
  padding: 16px;
  border: 1px solid rgb(0, 0, 0);
}

.box--yellow {
  padding: 16px;
  border: 1px solid rgb(255, 255, 0);
  background-color: rgb(255,248,212);
}

.two-blocks-right {
  display: grid;
  grid-template-columns: 1fr minmax(150px, 15%);
}

.two-blocks-left {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
  margin: 10rem;
}

.padding1 {
  padding: 16px;
}

.margin1 {
  margin: 0 1rem;
}

.calibre0 {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0em;
}
.calibre1 {
  display: block;
  color: black;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 1.5em;
}
/*Ajustes no Sumario pg 4*/

.item-sumario{
  text-indent: 0em;
}
.sub-item-sumario{
  text-indent: 1.5em;
  font-size:13px;
}

/*Citacao recuo*/
.citacao-recuo{
    max-width:600px;
    font-size:14px;
    margin: 2px 1em 0 auto;
}

/*Remover Bullet lista de competencias - PG 11*/
.lista-competencias li{
  list-style: none;
}
/*Ajuste seção de icones - pg13*/

.texto-icone{
  width:300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.texto-icone img{
  height: 50px;
  object-fit: contain;
}


.lista-competencias p{
  text-indent: 0px;
}

/*Adicionar borda na tabela de avaliação*/

.borda-tabela-avaliacao td{
  width:14.28%;
  border:1px solid rgba(211,211,211,1);
  padding:5px 10px;;
  text-align: center;
}

.calibre2 {
  height: auto;
  width: auto;
  display: block;
  max-width: 100%;
}

.image-responsive {
  width: 100%;
  height: auto;
}


.calibre3 {
  font-weight: bold;
}

.calibre4 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.83em;
  page-break-before: always;
}

.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}

.italico {
  font-style: italic;
}

.calibre7 {
  text-align: center;
  text-align-last: center;
}

.calibre8 {
  text-align: left;
}

.calibre9 {
  background-color: rgb(74, 145, 197);
  shape-margin: 5%;
  border-radius: 5%;
}

.respostas {
  color: rgb(148, 0, 211);
}

.paginacao {
  text-align: right;
  page-break-before: always;
}

.titulocaixa {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

.blocoreferencia {
  background-color: rgb(74, 145, 197);
  text-align: right;
  padding-right: 0%;
  margin-left: 75px;
  margin-right: 0px;
  padding:5px;
}

.horizontal {
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 80%;
  transform: rotate(180deg);
}

.imagemparalela {
  min-width: 80%;
  height: auto;
}

.referenciaparalela {
  text-align: center;
  color: rgb(126, 67, 45);
}

.paralelo {
  display: flex;
  /* min-width: 80%; */
  margin: auto;
}

.par{
  text-indent: 1.5em;
  margin-left: 1.5em;
}

.blocoleituracomplementar {
  background-color: rgb(74, 145, 197);
  border-radius: 1%;
}

.tituloleituracomplemental {
  color: rgb(74, 145, 197);
}

.barralateral {
  text-align: right;
  width: 30rem;
  background-color: rgb(172, 213, 232);
}

.blocoorganizando {
  background-color: rgb(248, 214, 199);
  border-color: rgb(255, 255, 0);
}
.grid2,
.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.d-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container {
  margin: 10px auto;
  width: 800px;
}
.cover {
  margin: 10px auto;
  width: 800px;
}
.pg {
  padding: 4px;
  background:rgb(241, 135, 22);
  display: inline-block;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  page-break-before: auto;
  text-align: right;
  text-align-last: right;
  align-self: right;
}
li {
  /*color:red;*/
  color: rgb(126, 67, 45);
  list-style-type: "•";
  margin-left: 2em;
}
.interacao{
  /*background-color: dimgray;*/
  transition: opacity 1s ease-out 100ms;
  transition: transform 1s ease-out 100ms;
}
.interacao:hover {
  /*opacity: 0.2;*/
  transform: scale(1.5);
}
.negrito{
  font-weight: bold;
}
.subtitle{
  font-family: scr="../fonts/AvenirLTStd45Book.otf";
  color: rgb(218, 81, 56);
}
.tittle-red{
  font-family: scr="../fonts/AvenirLTStd45Book.otf";
  
  color: rgb(218, 81, 56);
}
.top{
  align-items: top;
  
}
.credito{
  font-size: 8px;
}









/*CSS Ajustes*/

/* Alterado tamanho da fonte Page 17 - Gabriel Dias*/
.fontmaior{
  font-size: 3em;
}

.imgtamanho {
  width: 20vw;
  height: 20vh;
}
.imgtamanho2{
  width: 30vw;
  height: 20vh;
}
.imgtamanho3{
  width: 2500px;
  height: auto;
}


.credito{
  font-size: 12px;
}
.debugar{
  border: solid 1px rgb(255, 0, 0);
}
.recuo{
  margin-left: 30%;
}
#quebrarlinha{
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}
.contorno-yellow{
  border: solid 2px rgb(255, 255, 0);
  border-radius: 25px;
}
.espacamento{
  padding: 20px;
}
.alertaseguranca{
  width: 8vw;
  height: 12vh;
}
.divflex{
  display: flex;
  align-items: center;
}
#blue{
  background-color: rgb(214,234,243);;
}
.box2 {
  padding: 16px;
  border: 1px solid rgb(0, 0, 0);
}
.imgtamanho4{
  width: 40vw;
  height: 30vh;
}
.imgtamanho5{
  width: 100vw;
  height: 30vh;
}
.textopage55{
  padding-top: 60px;
}
.justificado{
  text-justify: justify;
}


/*Ajustes Lutas*/

.credito-slide{
  position:absolute;
  top:1px;
  left:10px;
}

.paralelo-col1{

  flex-basis:50%;
  text-align: justify;
  padding-right:20px;
  
}

.paralelo-col1 img{
  width:100%;
}

.paralelo-col2{

  flex-basis:50%;
}

.paralelo-col2 img{
  width:100%;
  margin:0!important;
}

.referenciaparalela-ajuste{
  margin:0;
  text-align: left;
}

/*PRÁTICAS CORPORAIS
DE AVENTURA*/

.remover-recuo-paragrafo{ 
  text-indent: 0em;
}

.box-video{
  padding:5px;
  font-size:12px;
}

.paragrafo-alerta img{
  float:right;
}
.recuo-pequeno{
  margin-left:15%;
}

.diminuir-imagem{
  height:270px;
  width:400px;
  object-fit: contain;
}

.ajuste-legenda{
  margin:0 !important;
}

.seta-azul{
  float:right;
}


 /* Parte DANÇA (GABRIEL) */
 .bordaimg{
  border: solid 5px rgb(224, 224, 224);
 }
 .box3 {
  border-radius: 15px;
  width: 200px;
  height: 150;
  margin-left: 600px;
  position: relative;
  margin-top: -140px;
}
.imgtamanho6{
  width: 450px;
  height: auto;
}
.imgtamanho7{
  width: 180px;
  height: auto;
}
.box4 {
  width: 800px;
  position: relative;
  margin-top: -140px;
}
.imgtamanho8{
  width: 400px;
  height: auto;
}



/*Ajustes CSS Peterson*/


#respostas li:before{
  color: darkviolet;
}

p{
  word-break: break-word;
}

details{
  border-radius: 4px;
  border: solid 1px ;
  margin: 5px;
  padding: 10px;
}
summary:hover{
  cursor: pointer;
}

img.img20{
  width: 300px;
  height: 300px;
}
.texto52{
  width: 300px;
}
#questão ol{
  list-style: none;
}
#questão li{
    /*color:red;*/
    color: #7e432d;
    list-style-type: ")";
    margin-left: 2em;
}
li {
  /*color:red;
  color: #7e432d;
  /*list-style-type:lower-alpha")";*/
  list-style-type: "•";
  
  margin-left: 2em;
}

ol.alfaParen {
	counter-reset: list;
}
ol.alfaParen > li {
	list-style: none;
	position: relative;
}
ol.alfaParen > li:before {
	counter-increment: list;
	content: counter(list, lower-alpha) ") ";
	position: absolute;
	left: -1.4em;
  font-weight: BOLD;
  color: #7e432d;
}
ol.numParen {
	counter-reset: list;
}
ol.numParen > li {
	list-style: none;
	position: relative;
}
ol.numParen > li:before {
	counter-increment: list;
	content: counter(list, decimal) ") ";
	position: absolute;
	left: -1.4em;
  font-weight: BOLD;
  color: #7e432d;
}
ul.ponto > li{
  list-style: none;
	position: relative;
}
ul.ponto > li:before{
  color: #7e432d;
  /*list-style-type:lower-alpha")";*/
  list-style-type: "•";
  margin-left: 2em;
}